# Java
target/
*.jar
*.war
*.ear
.mvn/
.mvn/wrapper/maven-wrapper.jar

# React
frontend/node_modules/
frontend/build/
frontend/.env

# IDE
.idea/
*.iml
*.swp

# Database
*.db
*.log

# Environment files
.env